/* Login/SignUp styling Start */

.connect {
  margin-top: 100px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#invalid {
  margin-top: -20px;
  margin-bottom: 30px
}

.info {
  background: lightblue;
  height: 140px;
}

.sidebar {
  background: lightcoral;
  height: 500px
}

h5 {
  color: white;
}

.headSpace {
  /* background-color: lightcoral; */
  padding: 10px;
  margin-bottom: 30px;
}

.headSpace h1 {
  font-weight: 100;
  margin: 0;
  color: rgb(4, 131, 110);
}

.itemName {
  width: 75% !important;
  float: none !important;
  margin-left: auto;
  margin-right: auto;
  padding-right: 35px !important;
}

.card-panel {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

.card-panel .row {
  margin-bottom: -5px;
}

.invalid {
  border-bottom: #f44336
}

.header {
  height: 80px;
}

@media only screen and (max-width:600px) {
  .connect {
    width: 80%;
  }
  .itemName {
    width: 100% !important;
    padding-right: 25px !important
  }
}

/* Login/SignUp styling End */

.card {
  height: 250px;
  width: 200px;
}

.filter {
  height: 40px;
  width: 85%;
  color: teal;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
}

.listing {
  margin-left: 200px;
}

.logo {
  margin-top: 10px;
  width: 150px;
  height: auto;
}

@media (max-width: 670px) {
  .listing {
    margin-left: 100px;
  }
  .logo {
    margin-top: 10px;
    width: 120px;
    height: auto;
  }
}

.itemModal {
  width: 400px;
}

.cardTitle {
  color: rgb(4, 131, 110);
}

#search1 {
  align-self: baseline;
}
/* Index page styling */