body, .container {
  background-color: rgb(243, 239, 239);
  font-family: 'Bebas Neue', cursive;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.footer-copyright {
  background-color: rgb(243, 239, 239);
  justify-content: center;
  height: 25px;
}

.page-footer {
  background-color: rgb(243, 239, 239);
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

#footerContent {
  /* background-color: rgb(243, 239, 239); */
  color: rgb(153, 150, 150);
  display: flex;
  justify-content: center;
}

#footerContent {
  display: flex;
  text-align: center;
  width: 100%;
  bottom: 0;
}

/* Login/SignUp styling Start */

.connect {
  margin-top: 100px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#invalid {
  margin-top: -20px;
  margin-bottom: 30px
}

.info {
  background: lightblue;
  height: 140px;
}

.sidebar {
  height: 500px;
}

h5 {
  color: white;
}

.headSpace {
  /* background-color: lightcoral; */
  padding: 10px;
  margin-bottom: 30px;
}

.headSpace h1 {
  font-weight: 100;
  margin: 0;
  color: rgb(4, 131, 110);
}

.itemName {
  width: 90% !important;
  float: none !important;
  margin-left: auto;
  margin-right: auto;
  padding-right: 35px !important;
  margin-bottom: 2px;
}

.card-panel {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

.card-panel .row {
  margin-bottom: -5px;
}

.invalid {
  border-bottom: #f44336
}

@media only screen and (max-width:600px) {
  .connect {
    width: 80%;
  }
  .itemName {
    width: 100% !important;
    padding-right: 25px !important;
  }
}

.input-field p, .input-field .select-wrapper {
  display: inline-block;
  clear: both;
  float: none;
}

.loadField {
  margin-bottom: -6px !important;
}

progress {
  width: 100%;
  -webkit-appearance: none;
  border-radius: 20px;
}

::-webkit-progress-value {
  background-color: rgb(36, 165, 133);
  border-radius: 20px;
}

::-webkit-progress-bar {
  background-color: gainsboro;
  height: 6px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Login/SignUp styling End */

/* nav header */

nav .input-field {
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
}

nav {
  z-index: 999;
}

.sideHead {
  height: 100px;
  justify-content: center;
}

.input-field input[type=search]~.material-icons {
  color: #4ea3ee;
}

.filter {
  /* height: 40px; */
  width: 85%;
  color: #1e88e5;
  font-size: 18px;
  /* margin-top: 10px; */
  text-align: center;
  /* vertical-align: middle; */
}

.sidenav .row {
  margin-bottom: 0;
}

/* nav {
  line-height: 78px;
} */

/* modal button */

.btn-flat {
  background-color: #26a69a;
  color: white;
}

/* Index page styling start */

#search1 {
  align-self: baseline;
}

span {
  font-weight: 100;
}

.card {
  height: 250px;
  width: 200px;
}

.listings {
  text-align: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.card-image {
  height: 175px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.listing {
  width: 850px;
}

.logo {
  margin-top: 5px;
  width: 136px;
  height: auto;
}

@media (max-width: 992px) {
  .listing {
    width: 575px;
  }
  .card {
    width: 180px;
  }
}

@media (max-width: 600px) {
  .listing {
    width: 90%;
  }
  .card {
    width: 300px;
  }
  .logo {
    width: 120px;
  }
}

@media only screen and (min-width: 1200px) {
  #profileTools {
    width: 90%;
  }
}

@media only screen and (max-width: 993px) {
  #profileTools {
    width: 75% !important;
  }
}

#logInHeader {
  color: #1e88e5;
}

#signUpHeader {
  color: #1e88e5;
}

.itemModal {
  width: 400px;
}

.cardTitle {
  color: #1e88e5;
  margin: 0;
}

.titleBox {
  height: 75px;
  display: flex;
  justify-content: center;
}

.input-field .prefix.active {
  color: #1e88e5;
}

.material-icons .prefix {
  color: #1e88e5;
}

input.valid[type=text]:not(.browser-default) {
  border-bottom: 1px solid rgb(0, 162, 255);
  box-shadow: 0 1px 0 0 rgb(0, 162, 255);
}

textarea.valid[type=text]:not(.browser-default) {
  border-bottom: 1px solid rgb(0, 162, 255);
  box-shadow: 0 1px 0 0 rgb(0, 162, 255);
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid;
  color: 0 1px 0 0 rgb(0, 162, 255);
}

.dropdown-content #automotive {
  color: #1e88e5;
}

.dropdown-content li>span {
  color: rgb(0, 162, 255)
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  color: black;
  border-bottom: 1px solid rgb(0, 162, 255);
  box-shadow: 0 1px 0 0 rgb(0, 162, 255);
}

input[type=text]:not(.browser-default):focus.valid~label {
  color: #1e88e5;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
  color: #1e88e5;
}

textarea:not(.browser-default):focus:not([readonly]) {
  color: black;
  border-bottom: 1px solid rgb(0, 162, 255);
  box-shadow: 0 1px 0 0 rgb(0, 162, 255);
}

textarea:not(.browser-default):focus.valid~label {
  color: #1e88e5;
}

textarea:not(.browser-default):focus:not([readonly])+label {
  color: #1e88e5;
}

/* Index page styling end */

/* Listing page styling start */

#items .card-panel {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 700px) {
  #items .card-panel {
    width: 95%;
  }
}

.cardItem {
  height: 270px;
  width: 235px !important;
}

.myListingsBtn {
  display: flex;
  justify-content: space-evenly;
  padding-top: 7px;
}

.editPost {
  width: 95px;
}

.deletePost {
  width: 95px;
}

.listingTitle {
  padding-top: 4px;
}

#profileTools {
  margin-top: 10px;
}

/* Listing page styling end */

/* Index page styling */

/* scroll bar updates */

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* TEST */

@media only screen and (min-width: 600px) {
  .invesible-top {
    top: 64px;
  }
}